body{
	background-color: $desktop-bg;
	margin:0;
}// body

nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

	li{
		list-style: none;
		display: inline-block;
		a{
			text-decoration: none;
			display: block;
		    color: $maincolor;
		    text-align: center;
		    padding: 14px 16px;
		    cursor: pointer; 

			&:hover {
    		color:#c5cae9;
    		}//a:hover
		}//a
	}//li
}//ul

nav select {
  display: none;
}

header{
	margin-top:250px;
	//margin-bottom:650px;
	text-align: center;
	font-size: 7em;
	color: $textcolor;
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
}

#main{
	color: $maincolor;
}
#about{
	//text-align: center;


	h2{
		font-size: 4em;
		//margin-left:50%;
		margin-top: 200px;
		text-align:center;

	}//h2
	p{
		margin-left:25%;
		margin-right:10%;
		//text-align: center;
		line-height: 2em;

		}//p

}//#about

#price{
	margin-top: 600px;
	//margin-bottom: 350px;
	

	h2{
		text-align: center;
		font-size: 4em;
		//margin-left:50%;

	}//h2

	h3{
		font-size: 2em;
		//text-align: center;
		margin-left:35%;

	}//h3

	p{
		margin-left:40%;
		//margin-right: 40px;
		font-size: 1.3em;
		//text-align: center;

	}

}//#about

#career{
	
	margin-top: 600px;
	//margin-bottom: 350px;

	h2{
		text-align: center;
		font-size: 4em;
		//margin-left:50%;

	}//h2

	h3{
		font-size: 2em;
		margin-left:30%;
		
	}//h3

	p{
		margin-left:30%;
		margin-right: 30%;
		line-height: 2em;
		

	}//p

}//#about

#contact{
	margin-top: 600px;
	margin-bottom: 150px;


	h2{
		font-size: 4em;
		//margin-left:50%;
		text-align: center;

	}//h2

	h3{
		font-size: 2em;
		margin-left:35%;
		
	}//h3

	p{
		margin-left:40%;


	}//p

}//#about

footer{
	font-size: .7em;
}








#main{
	
	@include span(12);
}
#price{
	p{
		color:$small-bg;
	}
}


@include susy-breakpoint($large) {
	body{
		background: $large-bg;
	}//body
	#price{
		p{
			color:$small-bg;
		}
	}
	

}//large breakpoint
@include susy-breakpoint($medium) {
	body {
		background: $medium-bg;
	}//body
		#main,header{
			@include span(12);
		}//main
		header{
			font-size: 4.6em;
		}
		#about{
			@include medbox();
		}
		#price{
			@include medbox2();
			p{
				color:$small-bg;
			}
		}
		#career{
			@include medbox2();
		}
		#contact{
			@include medbox2();
		}

	
}//medium breakpoint
@include susy-breakpoint($small) {
	body {
		background: $small-bg;
	}//body
	nav ul     { display: none; }
 	nav select { display: inline-block; }

	.dropdown{
		position:relative
	}
	#main, header{
		@include span(12);
	}//main
	header{
		font-size: 2.5em;
	}
	#about{
		@include smallbox();
	}
	#career{
		@include smallbox();
	}
	#price{
		@include smallbox();
	}
	#contact{
		@include smallbox();
	}



}//small breakpoint